// Colors
$main: #66fcf1;
$main-60: rgba(7, 198, 191, 0.6);
$white: #fff;
$white-60: rgba(255, 255, 255, 0.6);
$yellow: #ffcd29;
$yellow-60: rgba(255, 205, 41, 0.6);
$dark: #19191d;
$light: #63698b;
$red: #f04451;
$light-purple: #202833;

// Text colors
$text-white: $white;
$text-white-60: $white-60;
$text-dark: $dark;
$text-light: $light;
$text-red: $red;

$stroke-white: $white;

// Bg vars
$header-background: #121729;
$footer-background: #121729;
$background-dark-purple: #08001a;
$background-light-purple: $light-purple;

// Size vars
$header-height: 6.25rem;
$main-width: 90.625rem;

// Primary button colors
$buttonPrimaryBg: $main;
$buttonPrimaryColor: $text-dark;
$buttonPrimaryStroke: $main;

$buttonPrimaryHoverBg: $main-60;
$buttonPrimaryHoverColor: $text-dark;
$buttonPrimaryHoverStroke: $main-60;

$buttonPrimaryActiveBg: $main-60;
$buttonPrimaryActiveColor: $text-dark;
$buttonPrimaryActiveStroke: $main-60;

// Secondary button colors
$buttonSecondaryBg: $yellow;
$buttonSecondaryColor: $text-dark;
$buttonSecondaryStroke: $yellow;

$buttonSecondaryHoverBg: $yellow-60;
$buttonSecondaryHoverColor: $text-dark;
$buttonSecondaryHoverStroke: $yellow-60;

$buttonSecondaryActiveBg: $yellow-60;
$buttonSecondaryActiveColor: $text-dark;
$buttonSecondaryActiveStroke: $yellow-60;

// Back button colors
$buttonBackBg: #999;
$buttonBackColor: $text-white;
$buttonBackStroke: #999;

$buttonBackHoverBg: inherit;
$buttonBackHoverColor: $text-white-60;
$buttonBackHoverStroke: rgba(226, 226, 226, 0.6);

$buttonBackActiveBg: inherit;
$buttonBackActiveColor: $text-white-60;
$buttonBackActiveStroke: rgba(226, 226, 226, 0.6);

// Primary transparent button colors
$buttonPrimaryTransparentBg: transparent;
$buttonPrimaryTransparentColor: $text-white;
$buttonPrimaryTransparentStroke: $main;

$buttonPrimaryTransparentHoverBg: transparent;
$buttonPrimaryTransparentHoverColor: $text-white-60;
$buttonPrimaryTransparentHoverStroke: $main-60;

$buttonPrimaryTransparentActiveBg: transparent;
$buttonPrimaryTransparentActiveColor: $text-white-60;
$buttonPrimaryTransparentActiveStroke: $main-60;

// Secondary transparent button colors
$buttonSecondaryTransparentBg: transparent;
$buttonSecondaryTransparentColor: $text-white;
$buttonSecondaryTransparentStroke: $yellow;

$buttonSecondaryTransparentHoverBg: transparent;
$buttonSecondaryTransparentHoverColor: $text-white-60;
$buttonSecondaryTransparentHoverStroke: $yellow-60;

$buttonSecondaryTransparentActiveBg: transparent;
$buttonSecondaryTransparentActiveColor: $text-white-60;
$buttonSecondaryTransparentActiveStroke: $yellow-60;

// Link primary colors
$linkPrimaryColor: $main;

$linkPrimaryHoverColor: $main-60;

$linkPrimaryActiveColor: $main;

// Link secondary colors
$linkSecondaryColor: $white;

$linkSecondaryHoverColor: $white-60;

$linkSecondaryActiveColor: $white-60;

// Input colors
$inputColor: rgba(226, 226, 226, 0.6);
$inputStroke: rgba(226, 226, 226, 0.6);
$inputPlaceholderColor: rgba(226, 226, 226, 0.6);

$inputHoverColor: $white;
$inputHoverStroke: $white;
$inputPlaceholderHoverColor: $white;

$inputActiveColor: $white;
$inputActiveStroke: $white;
$inputPlaceholderActiveColor: $white;
