// Colors
$main: #66fcf1;
$main-60: rgba(7, 198, 191, 0.6);
$white: #fff;
$white-60: rgba(255, 255, 255, 0.6);
$yellow: #ffcd29;
$yellow-60: rgba(255, 205, 41, 0.6);
$gray: #4c5d75;
$light-gray: #7d7d7d;
$dark: #19191d;
$light: #63698b;
$line-light: #5d728e;
$red: #f04451;
$dark-purple: #0b0c10;
$light-purple: #202833;

// Text colors
$text-white: $white;
$text-white-60: $white-60;
$text-dark: $dark;
$text-light: $light;
$text-red: $red;
$text-main: $main;
$text-main-60: $main-60;

$stroke-white: $white;

// Bg vars
$header-background: #111d2f;
$footer-background: #111d2f;
$background-dark-purple: #08001a;
$background-light-purple: $light-purple;

// Size vars
$header-height: 4.375rem;
$main-width: 90.625rem;
$adaptive-breakpoint-normal: 1200px;

// Primary button colors
$buttonPrimaryBg: $main;
$buttonPrimaryColor: $text-dark;
$buttonPrimaryStroke: $main;

$buttonPrimaryHoverBg: $main-60;
$buttonPrimaryHoverColor: $text-dark;
$buttonPrimaryHoverStroke: $main-60;

$buttonPrimaryActiveBg: $main-60;
$buttonPrimaryActiveColor: $text-dark;
$buttonPrimaryActiveStroke: $main-60;

// Secondary button colors
$buttonSecondaryBg: $yellow;
$buttonSecondaryColor: $text-dark;
$buttonSecondaryStroke: $yellow;

$buttonSecondaryHoverBg: $yellow-60;
$buttonSecondaryHoverColor: $text-dark;
$buttonSecondaryHoverStroke: $yellow-60;

$buttonSecondaryActiveBg: $yellow-60;
$buttonSecondaryActiveColor: $text-dark;
$buttonSecondaryActiveStroke: $yellow-60;

// Back button colors
$buttonBackBg: #999;
$buttonBackColor: $text-white;
$buttonBackStroke: #999;

$buttonBackHoverBg: inherit;
$buttonBackHoverColor: $text-white-60;
$buttonBackHoverStroke: rgba(226, 226, 226, 0.6);

$buttonBackActiveBg: inherit;
$buttonBackActiveColor: $text-white-60;
$buttonBackActiveStroke: rgba(226, 226, 226, 0.6);

// Blank button colors
$buttonBlankBg: transparent;
$buttonBlankColor: $text-main;
$buttonBlankStroke: transparent;

$buttonBlankHoverBg: transparent;
$buttonBlankHoverColor: $text-main-60;
$buttonBlankHoverStroke: transparent;

$buttonBlankActiveBg: transparent;
$buttonBlankActiveColor: $text-main-60;
$buttonBlankActiveStroke: transparent;

// Primary transparent button colors
$buttonPrimaryTransparentBg: transparent;
$buttonPrimaryTransparentColor: $text-white;
$buttonPrimaryTransparentStroke: $main;

$buttonPrimaryTransparentHoverBg: transparent;
$buttonPrimaryTransparentHoverColor: $text-white-60;
$buttonPrimaryTransparentHoverStroke: $main-60;

$buttonPrimaryTransparentActiveBg: transparent;
$buttonPrimaryTransparentActiveColor: $text-white-60;
$buttonPrimaryTransparentActiveStroke: $main-60;

// Secondary transparent button colors
$buttonSecondaryTransparentBg: transparent;
$buttonSecondaryTransparentColor: $text-white;
$buttonSecondaryTransparentStroke: $yellow;

$buttonSecondaryTransparentHoverBg: transparent;
$buttonSecondaryTransparentHoverColor: $text-white-60;
$buttonSecondaryTransparentHoverStroke: $yellow-60;

$buttonSecondaryTransparentActiveBg: transparent;
$buttonSecondaryTransparentActiveColor: $text-white-60;
$buttonSecondaryTransparentActiveStroke: $yellow-60;

// Link primary colors
$linkPrimaryColor: $main;

$linkPrimaryHoverColor: $main-60;

$linkPrimaryActiveColor: $main;

// Link secondary colors
$linkSecondaryColor: $white;

$linkSecondaryHoverColor: $white-60;

$linkSecondaryActiveColor: $white-60;

// Input colors
$inputColor: $white-60;
$inputStroke: $white-60;
$inputPlaceholderColor: $white-60;

$inputHoverColor: $white;
$inputHoverStroke: $white;
$inputPlaceholderHoverColor: $white;

$inputActiveColor: $white;
$inputActiveStroke: $white;
$inputPlaceholderActiveColor: $white;

// Input Secondary colors
$inputSecondaryColor: $white;
$inputSecondaryPlaceholderColor: $white-60;

$inputSecondaryHoverColor: $white;
$inputSecondaryPlaceholderHoverColor: $white-60;

$inputSecondaryActiveColor: $white;
$inputSecondaryPlaceholderActiveColor: $white-60;

// Select colors
$selectColor: $white-60;
$selectBg: transparent;

$selectHoverColor: $white;
$selectHoverBg: #303d4d;

$selectActiveColor: $main;
$selectActiveBg: $light-purple;

$selectOpenedColor: $white;
