// Text colors
$text-white: #e2e2e2;
$text-white-60: rgba(226, 226, 226, 0.6);
$text-dark: #19191d;
$text-dark-60: rgba(25, 25, 29, 0.6);
$text-light: #63698b;
$text-red: #f04451;

$stroke-white: #e2e2e2;

// Bg vars
$header-background: #121729;
$footer-background: #121729;
$background-dark-purple: #08001a;

// Size vars
$header-height: 6.25rem;
$main-width: 90.625rem;

// Primary button colors
$buttonPrimaryBg: #07c6bf;
$buttonPrimaryColor: $text-dark;
$buttonPrimaryStroke: #07c6bf;

$buttonPrimaryHoverBg: rgba(7, 198, 191, 0.6);
$buttonPrimaryHoverColor: $text-dark-60;
$buttonPrimaryHoverStroke: rgba(7, 198, 191, 0.6);

$buttonPrimaryActiveBg: rgba(7, 198, 191, 0.6);
$buttonPrimaryActiveColor: $text-dark-60;
$buttonPrimaryActiveStroke: rgba(7, 198, 191, 0.6);

// Secondary button colors
$buttonSecondaryBg: #ffcd29;
$buttonSecondaryColor: $text-dark;
$buttonSecondaryStroke: #ffcd29;

$buttonSecondaryHoverBg: rgba(255, 205, 41, 0.6);
$buttonSecondaryHoverColor: $text-dark-60;
$buttonSecondaryHoverStroke: rgba(255, 205, 41, 0.6);

$buttonSecondaryActiveBg: rgba(255, 205, 41, 0.6);
$buttonSecondaryActiveColor: $text-dark-60;
$buttonSecondaryActiveStroke: rgba(255, 205, 41, 0.6);

// Primary transparent button colors
$buttonPrimaryTransparentBg: transparent;
$buttonPrimaryTransparentColor: $text-white;
$buttonPrimaryTransparentStroke: #07c6bf;

$buttonPrimaryTransparentHoverBg: transparent;
$buttonPrimaryTransparentHoverColor: $text-white-60;
$buttonPrimaryTransparentHoverStroke: rgba(7, 198, 191, 0.6);

$buttonPrimaryTransparentActiveBg: transparent;
$buttonPrimaryTransparentActiveColor: $text-white-60;
$buttonPrimaryTransparentActiveStroke: rgba(7, 198, 191, 0.6);

// Secondary transparent button colors
$buttonSecondaryTransparentBg: transparent;
$buttonSecondaryTransparentColor: $text-white;
$buttonSecondaryTransparentStroke: #ffcd29;

$buttonSecondaryTransparentHoverBg: transparent;
$buttonSecondaryTransparentHoverColor: $text-white-60;
$buttonSecondaryTransparentHoverStroke: rgba(255, 205, 41, 0.6);

$buttonSecondaryTransparentActiveBg: transparent;
$buttonSecondaryTransparentActiveColor: $text-white-60;
$buttonSecondaryTransparentActiveStroke: rgba(255, 205, 41, 0.6);

// Link primary colors
$linkPrimaryColor: #07c6bf;

$linkPrimaryHoverColor: rgba(7, 198, 191, 0.6);

$linkPrimaryActiveColor: rgba(7, 198, 191, 0.6);

// Link secondary colors
$linkSecondaryColor: #e2e2e2;

$linkSecondaryHoverColor: rgba(226, 226, 226, 0.6);

$linkSecondaryActiveColor: rgba(226, 226, 226, 0.6);

// Input colors
$inputColor: rgba(226, 226, 226, 0.6);
$inputStroke: rgba(226, 226, 226, 0.6);
$inputPlaceholderColor: rgba(226, 226, 226, 0.6);

$inputHoverColor: #e2e2e2;
$inputHoverStroke: #e2e2e2;
$inputPlaceholderHoverColor: #e2e2e2;

$inputActiveColor: #e2e2e2;
$inputActiveStroke: #e2e2e2;
$inputPlaceholderActiveColor: #e2e2e2;
